# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Node (in case)
node_modules/
